@mixin ms-screen {
  @media screen and (max-width: 500px) {
    @content;
  }
}

//Extra Medium-Small Screen
@mixin xsss-screen {
  @media screen and (min-width: 400px) {
    @content;
  }
}

//Small Screen (min-width: 576)
@mixin sm-screen {
  @media screen and (min-width: 576px) {
    @content;
  }
}

//Medium Screen (min-width: 768)
@mixin md-screen {
  @media screen and (min-width: 768px) {
    @content;
  }
}

//Large Screen (min-width: 992)
@mixin lg-screen {
  @media screen and (min-width: 992px) {
    @content;
  }
}

//Xtra Large Screen (min-width: 1200)
@mixin xl-screen {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

//Xtra Large Screen ii (min-width: 1400)
@mixin xlii-screen {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

//Xtra Large Screen iii (min-width: 1440)
@mixin xliii-screen {
  @media screen and (min-width: 1440px) {
    @content;
  }
}