.list {
  margin: 0 0;
}
.list__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.list__title-icon {
  color: rgba(112, 109, 109, 0.7490196078);
  margin: 0 0.5rem 0 0;
}
.list__title-border {
  width: 6rem;
  margin: 0 0 0 0;
  background: rgba(255, 147, 59, 0.8509803922);
  height: 2px !important;
  opacity: 1;
  border-radius: 54px;
}
.list__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
.list__head {
  border-bottom: 1px solid black;
}
.list__col {
  overflow-x: scroll;
}
@media screen and (min-width: 992px) {
  .list__col {
    overflow-x: hidden;
  }
}
.list__table {
  width: 32rem !important;
}
@media screen and (min-width: 992px) {
  .list__table {
    width: 100% !important;
  }
}
.list__btn {
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  border: 2px solid #eee !important;
  border-color: #e1e1e1 !important;
  color: #333 !important;
  padding: 8px 2rem !important;
  border-radius: 3px !important;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
}
.list__btn:hover {
  color: #333 !important;
  border-color: #e1e1e1 !important;
  background-color: #e1e1e1 !important;
}
.list__pending {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.05rem;
  margin: 0 0;
  text-transform: capitalize;
  border-bottom: 1px solid black;
}
.list__cancel {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.05rem;
  color: #f56040;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1490196078);
}
.list tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1490196078);
}
.list td {
  border: 0;
  padding: 12px 0;
}