.list {
    margin: 0 0;

    &__title {
        font-family: $font;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 1px;

        &-icon {
            color: #706d6dbf;
            margin: 0 0.5rem 0 0;
        }

        &-border {
            width: 6rem;
            margin: 0 0 0 0;
            background: #ff933bd9;
            height: 2px !important;
            opacity: 1;
            border-radius: 54px;
        }
    }

    &__text {
        font-family: $font;
        font-weight: bold;
        text-transform: capitalize;
    }

    &__head {
        border-bottom: 1px solid black;
    }

    &__col {
        overflow-x: scroll;

        // min-width: 992px;
        @include lg-screen {
            overflow-x: hidden;
        }
    }

    &__table {
        width: 32rem !important;

        // min-width: 992px;
        @include lg-screen {
            width: 100% !important;
        }
    }

    &__btn {
        font-family: $font;
        text-transform: uppercase;
        border: 2px solid #eee !important;
        border-color: #e1e1e1 !important;
        color: #333 !important;
        padding: 8px 2rem !important;
        border-radius: 3px !important;
        font-size: 0.8rem !important;
        font-weight: 600 !important;

        &:hover {
            color: #333 !important;
            border-color: #e1e1e1 !important;
            background-color: #e1e1e1 !important;
        }
    }

    &__pending {
        font-family: $font;
        font-size: 1.05rem;
        margin: 0 0;
        text-transform: capitalize;
        border-bottom: 1px solid black;
    }

    &__cancel {
        font-family: $font;
        font-size: 1.05rem;
        color: $ins;
        text-transform: capitalize;
        border-bottom: 1px solid #00000026;
    }

    tr {
        border-bottom: 1px solid #00000026;
    }

    td {
        border: 0;
        padding: 12px 0;
    }

}