.login {
  &__closeBtn {
    color: $beta !important;
    position: relative;
    top: 0%;
    left: 0;
    font-size: 1.7rem !important;
    cursor: pointer;
    box-shadow: none !important;
  }
  &__layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    transform: scale(0);
    z-index: -1;
    background: rgba(0, 0, 0, 0.75);
  }
  &__show {
    transform: scale(1);
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 10 !important;
  }
  &__hide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
